body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
}

header {
    background-color: #800000;
    padding: 5px;
    border-radius: 0px 0px 25px 25px;
}

.title {
    text-align: center;
    color: #fff;
}

.subtitle {
    text-align: center;
    color: #fff;
}

path {
    cursor: pointer;
    transition: fill 0.3s;
}

path:hover {
    fill: #ff9800;
    /* Colore arancione al passaggio del mouse */
}

main {
    display: flex;
    align-items: flex-start;
    flex: 1;
    max-width: 1440px;
    width: 100%; /* <-- Aggiungi solo questa riga */
    margin: 0 auto;
}

svg {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.pannello-info {
    width: 50%;
    padding: 20px;
    background: #f4f4f9;
    border-radius: 8px;
    margin-top: 20px;
}

#titolo-regione {
    margin: 0px;
    margin-bottom: 10px;
}

#elenco-province {
    /* border: 1px solid black; */
    width: 100%;
}

.el {
    margin: 2px;
    border: 1px solid black;
    padding: 5px;
}

.sigla {
    text-align: center;
}

footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 20px 20px 0px 0px;
}

.a_footer {
    color: white;
    text-decoration: none;
}

.a_footer:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    .pannello-info {
        width: 90%;
        max-height: none;
        margin: 0 auto;
    }

    svg {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    body {
        height: auto;
        overflow: auto;
    }
}